<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <title>Scraping NY-Times</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

    <link rel="stylesheet" href="/css/style.css"> 
    <script type="text/javascript" src="/javascript/homepage.js"></script>
    <script type="text/javascript" src="/javascript/saveArticle.js"></script>
    <script type="text/javascript" src="/javascript/manageArticle.js"></script>
</head>

<body>
    <div class="container-fluid">
        <nav>
            <div class="nav-wrapper">
                <ul class="left hide-on-med-and-down">
                    <button data-target="showBookmarked()" class="btn waves-effect waves-light black modal-trigger" onclick="showBookmarked()">BOOKMARKED ARTICLES</button>
                </ul>
                <a href="#!" class="brand-logo center">Mongo</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">                    
                    <button data-target="scrape-article" class="btn waves-effect waves-light black modal-trigger" onclick="scrapeResult()">SCRAPE ARTICLES</button>
                </ul>
            </div>
        </nav>

        <div class="slider">
            <ul class="slides">
                <li>
                    <img src="/images/nytimes1.jpg">
                    <div class="caption center-align">
                        <h3>SCRAPING</h3>
                        <h3 class="light grey-text text-lighten-3">NEW YORK TIMES</h3>
                    </div>
                </li>
                <li>
                    <img src="/images/2a.png">
                    <div class="caption center-align">
                        <h3 class="light grey-text text-lighten-3">BOOKMARK ARTICLES</h3>
                    </div>
                </li>
                <li>
                    <img src="/images/coffee_Newspaper.jpg">
                    <div class="caption center-align">
                        <h3 class="light white-text">VIEW YOUR ARTICLES</h3>
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col s12 m4 l4" id="nyt-0"></div>
            <div class="col s12 m4 l4" id="nyt-1"></div>
            <div class="col s12 m4 l4" id="nyt-2"></div>
        </div>
        <div id="scrape-article" class="modal">
            <div class="modal-content">
                <h4>Number of Articles</h4>
                <h4 id="total-number"></h4>
            </div>
            <div class="modal-footer">
                <a href="#" class="modal-action modal-close waves-effect waves-red btn">Close</a>
            </div>
        </div>
    </div>
    <div id="notes" class="modal">
        <div class="modal-content">
            <form>
                <h4 id="display-title"></h4>
                <div id="display-note"></div>
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Enter Notes Above</label>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn" id="savenote">Save Note</a>
        </div>
    </div>

</body>

</html>